@charset "UTF-8";

h1 {
	padding-bottom: 20px;
}
.container{
	margin-top: 20px;
}
.box{
    border-radius: 8px;
}
.box__list-task{
	padding: 20px 10px 10px;
}
.btn-primary{
	margin-right: 5px;
}
.btn-secondary{
	width: 290px;
	color: #98d7ff;
	font-size: 0.7rem;
}
.task-button{
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 15px; 
}
.non-progress{
	width: 300px;
	height: 550px;
}

.non-progress-header{
	padding-top: 20px;
	padding-left: 10px;
	background:linear-gradient(180deg,#4dabff 0%,#4dabff 25%,#f9f7f5 25%,#f9f7f5 100%);
	border-radius: 8px;
}

.non-progress, .non-progress-header{
	background-color: #f9f7f5;
}


.task-header{
	padding: 15px 20px 50px;
} 

#exampleTextarea{
    margin: 5px 15px 15px;
    width: 90%;
}

.task-buttons{
    width: 80%;
    margin: 0 0 0 35%;
}

#output-add-button, #cancel-button{
    width: 35%;
}

.addButton{
	width: 97%;
}
.shadow-sm-original {
	max-width: 18rem;
    /* -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.125) !important; */
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.2) !important; /* 影の濃さ */
}

/* スクロールバー修正 */
div::-webkit-scrollbar{
  width: 6px;
}
div::-webkit-scrollbar-track{
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777; 
}
div::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 10px;
  box-shadow: none;
}
