@(projectRequest:models.request.ProjectRequest)
@import play.i18n._

@main("detail-page") {
@* <meta charset="utf-8"> FOR ECLIPSE CHARSET DETECTION *@
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("/stylesheets/css/detailProject.css")">


<body class style>
  <div class="container">
	<!-- <h1>projectRequest.name</h1> --><!-- これはできなかった -->
	<h1>@projectRequest.name</h1>
	<hr>
	<!-- <h1>@{projectRequest.getName}pj</h1> -->
	
	<table>
		<tr>
		<td style="padding-right: 20px;">
		<!-- ここからボックス作成 -->
			<div class="box card border-light mb-3 non-progress" style="max-width: 20rem;">
			<div class="non-progress-header">@projectRequest.name</div>

			<div class="conversion">
				<div id="new-task">
					<input type="text" class="form-control" id="exampleTextarea" placeholder="新しいタスク名" style="display: none">
				</div>
				<div class="task-buttons">
		  			<button class="btn btn-primary" id="output-add-button" style="display:none">追加</button>
		 			<button class="btn btn-secondary" id="cancel-button" style="display: none">キャンセル</button>
				</div>
				<div class="task-button" id ="add-task1">
					<button type="button" class="btn btn-secondary btn-lg addButton" > ＋ タスクの追加 </button>
				</div>
			</div>
			<div style="height:400px;padding:10px;overflow:auto;">
				<div class="box__list-task" id = "task-list">
					<div class="box shadow-sm-original card border-light mb-2 inside-project">
						<div class="task-header">@projectRequest.name</div>
					</div>
				</div>
				<div class="box__list-task" id = "task-list">
					<div class="box shadow-sm-original card border-light mb-2 inside-project">
						<div class="task-header">@projectRequest.name</div>
					</div>
				</div>
								<div class="box__list-task" id = "task-list">
					<div class="box shadow-sm-original card border-light mb-2 inside-project">
						<div class="task-header">@projectRequest.name</div>
					</div>
				</div>
								<div class="box__list-task" id = "task-list">
					<div class="box shadow-sm-original card border-light mb-2 inside-project">
						<div class="task-header">@projectRequest.name</div>
					</div>
				</div>
								<div class="box__list-task" id = "task-list">
					<div class="box shadow-sm-original card border-light mb-2 inside-project">
						<div class="task-header">@projectRequest.name</div>
					</div>
				</div>
			</div>

			</div>
			</td>
			
			<!-- ここから進行中タスク -->
			<td>
		<!-- ここからボックス作成 -->
			<div class="box card border-light mb-3 non-progress" style="max-width: 20rem;">
			<div class="non-progress-header">@projectRequest.name</div>

			<div id="new-task"></div>
			<div id="cancel-task-button"></div>
			<div class="task-button" id ="add-task2">
				<button type="button" class="btn btn-secondary btn-lg addButton"> ＋ タスクの追加 </button>
			</div>
			<div style="height:400px;padding:10px;overflow:auto;">
				<div class="box__list-task" id = "task-list">
					<div class="box shadow-sm-original card border-light mb-2 inside-project">
						<div class="task-header">@projectRequest.name</div>
					</div>
				</div>
				<div class="box__list-task" id = "task-list">
					<div class="box shadow-sm-original card border-light mb-2 inside-project">
						<div class="task-header">@projectRequest.name</div>
					</div>
				</div>
								<div class="box__list-task" id = "task-list">
					<div class="box shadow-sm-original card border-light mb-2 inside-project">
						<div class="task-header">@projectRequest.name</div>
					</div>
				</div>
								<div class="box__list-task" id = "task-list">
					<div class="box shadow-sm-original card border-light mb-2 inside-project">
						<div class="task-header">@projectRequest.name</div>
					</div>
				</div>
								<div class="box__list-task" id = "task-list">
					<div class="box shadow-sm-original card border-light mb-2 inside-project">
						<div class="task-header">@projectRequest.name</div>
					</div>
				</div>
			</div>

			</div>
			</td>
			</tr>
		</table>
  </div>
			
</body>

<script>
$(function(){
    $('.addButton').click(function($elem){
    	
    	// 押下した要素を取得
    	var elem = $elem.target;
    	// 押下した要素の親の親要素(class="conversion")を取得
    	var conversion = $(elem).parents('div').find('.conversion');
    	// 押下したボタンの要素を非表示
    	$(elem).toggle();
    	// テキストフィールドを表示
    	$(conversion).children().find('#exampleTextarea').toggle();
    	// 追加ボタン表示
    	$(conversion).children().find('#output-add-button').toggle();
		// キャンセルボタン表示    	
    	$(conversion).children().find('#cancel-button').toggle();

    });
    
    $('#cancel-button').click(function($elem){
    	
    	// 押下した要素(キャンセルボタン)を取得
    	var elem = $elem.target;
    	// 押下した要素の親の親要素(class="conversion")を取得
    	var conversion = $(elem).parents('div').find('.conversion');
    	// 押下したボタン(キャンセルボタン)を非表示
    	$(elem).toggle();
    	// 追加ボタン非表示
    	$(conversion).children().find('#output-add-button').toggle();
    	// テキストフィールドを非表示
    	$(conversion).children().find('#exampleTextarea').toggle();
		// ＋タスクの追加ボタン表示    	
    	$(conversion).children().find('.addButton').toggle();
    	

    });
    
});
 
</script>

<!-- $($($elem.target).parents('div')[1]).find('#new-task').children().toggle();
 -->
		

}
