@(projectRequest:models.request.ProjectRequest, taskList:List[models.request.TaskRequest])
@import play.i18n._

@main("detail-page") {
@* <meta charset="utf-8"> FOR ECLIPSE CHARSET DETECTION *@
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("/stylesheets/css/detailProject.css")">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- bootstrap-datepickerを読み込む -->
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/stylesheets/css/datepicker/bootstrap-datepicker.min.css")">
<script type="text/javascript" src="@routes.Assets.versioned("/javascripts/datepicker/bootstrap-datepicker.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("/javascripts/datepicker/bootstrap-datepicker.ja.min.js")"></script>



<body class style>
<div class="container-fluid">
    <div class="row">
	    <div class="clearfix"></div>
	    <div class="flex-side-container">
		    <div class="sidebar" style="background-color: #656873">
		        <ul class="nav nav-sidebar">
		        	<li class="active">
		            	<a class="sidebar-tab-link" id="new-pro" href="@routes.CreateNew.createNewProject()">
		            		<span class="sidebar-tab-add-more">
		            			<i class="fas fa-plus icon-plus"></i>
		            		</span>
		            		<span class="sidebar-tab-title">@Messages.get("task.sidebar.new.project")</span>
		            	</a>
		            </li>
		            <li class="active">
		            	<a class="sidebar-tab-link" href="">
		            		<span class="sidebar-tab-image">
		            			<img src="@routes.Assets.versioned("/images/doraemon_1.jpg")" />
		            		</span>
		            		<span class="sidebar-tab-title">@projectRequest.name</span>
		            	</a>
		            </li>
		            <li><a href="">アクセス</a></li>
		            <li><a href="">皆様のご意見</a></li>
		            <li><a href="/questionnaire">アンケート</a></li>
		        </ul>
		    </div>
		  	<div class="container col-sm-10 col-sm-offset-3 col-md-11 col-md-offset-2 main">
			<!-- <h1>projectRequest.name</h1> --><!-- これはできなかった -->
				<h2>
					<img class="pro-image" src="@routes.Assets.versioned("/images/doraemon_1.jpg")" />
					<span id="project-name">@projectRequest.name</span>
				</h2>
				
				<ul class="nav nav--links nav--icons nav--sublist nav--project-board">
					<li class="nav-item nav-icons">
					  <a class="nav-link" id="toggle-board" href="javascript: void(0);">
					    <i class="far fa-clipboard"></i>
					    <span class="nav-text">ボード</span>
					  </a>
					</li>
					
					<li class="nav-item nav-icons">
					  <a class="nav-link active" id="toggle-chart" href="javascript: void(0);">
					    <i class="fas fa-align-left"></i>
					    <span class="nav-text">ガントチャート</span>
					  </a>
					</li>
				</ul>
				
				<hr>
				<!-- <h1>@{projectRequest.getName}pj</h1> -->
				
				<table>
					<tr>
						<!-- ここから未進行ボックス作成 -->
						<td class="task-box">
							<div class="box card border-light mb-3 non-progress" style="max-width: 20rem;">
								<div class="non-progress-header">
									@Messages.get("task.progress.meter.yet")
								</div>
					
								<div class="conversion">
									<div id="new-task">
										<input type="text" class="form-control task-text" id="exampleTextarea" placeholder="新しいタスク名" style="display: none">
										<input type="hidden" id="project-id" value="@projectRequest.id"/>
										<input type="hidden" id="finish-flag" value="-1"/>
									</div>
									<div class="task-buttons">
							  			<button class="btn btn-primary output-add-button">
							  				@Messages.get("task.add.button")
							  			</button>
										<button class="btn btn-secondary cancel-button" id="cancel-button">
											@Messages.get("task.cancel.button")
										</button>
									</div>
									<div class="task-button" id ="add-task1">
										<button type="button" class="btn btn-secondary btn-lg addButton" >
											@Messages.get("task.plus.add.button") 
										</button>
									</div>
								</div>
								<div id="tasks-yet" style="height:400px;padding:10px;overflow:auto;">
									<!-- タスクの数だけ回す -->
									@for(task <- taskList){
										@if(task.finish_flag == -1){
											<!-- 未進行のタスクのみ表示 -->
											<div class="box__list-task" id = "task-list" data-toggle="modal" data-target="#myModal">
												<div class="box shadow-sm-original card border-light mb-2 inside-project">
													<div class="task-header">@task.name</div>
													<input type="hidden" name="task-id" value="@task.id"/>
													<div class="task-period">@task.start_date - @task.closing_date</div>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</td>
						
						<!-- ここから進行中タスク -->
						<td class="task-box">
							<div class="box card border-light mb-3 non-progress" style="max-width: 20rem;">
								<div class="non-progress-header" id="task-harfway-header">
									@Messages.get("task.progress.meter.harfway")
								</div>
					
								<div class="conversion">
									<div id="new-task">
										<input type="text" class="form-control task-text" id="exampleTextarea" placeholder="新しいタスク名" style="display: none">
										<input type="hidden" id="finish-flag" value="0"/>
									</div>
									<div class="task-buttons">
							  			<button class="btn btn-primary output-add-button">
							  				@Messages.get("task.add.button")
							  			</button>
										<button class="btn btn-secondary cancel-button" id="cancel-button">
											@Messages.get("task.cancel.button")
										</button>
									</div>
									<div class="task-button" id ="add-task1">
										<button type="button" class="btn btn-secondary btn-lg addButton" >
											@Messages.get("task.plus.add.button") 
										</button>
									</div>
								</div>
								<div style="height:400px;padding:10px;overflow:auto;">
									<!-- タスクの数だけ回す -->
									@for(task <- taskList){
										@if(task.finish_flag == 0){
											<!-- 未進行のタスクのみ表示 -->
											<div class="box__list-task" id = "task-list" data-toggle="modal" data-target="#myModal">
												<div class="box shadow-sm-original card border-light mb-2 inside-project">
													<div class="task-header">@task.name</div>
													<input type="hidden" name="task-id" value="@task.id"/>
													<div class="task-period">@task.start_date - @task.closing_date</div>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</td>
							
						<!-- ここから終了タスク -->
						<td class="task-box">
							<div class="box card border-light mb-3 non-progress" style="max-width: 20rem;">
								<div class="non-progress-header" id="task-finished-header">
									@Messages.get("task.progress.meter.finished")
								</div>
					
								<div class="conversion">
									<div id="new-task">
										<input type="text" class="form-control task-text" id="exampleTextarea" placeholder="新しいタスク名" style="display: none">
										<input type="hidden" id="finish-flag" value="1"/>
									</div>
									<div class="task-buttons">
							  			<button class="btn btn-primary output-add-button">
							  				@Messages.get("task.add.button")
							  			</button>
										<button class="btn btn-secondary cancel-button" id="cancel-button">
											@Messages.get("task.cancel.button")
										</button>
									</div>
									<div class="task-button" id ="add-task1">
										<button type="button" class="btn btn-secondary btn-lg addButton" >
											@Messages.get("task.plus.add.button") 
										</button>
									</div>
								</div>
								<div style="height:400px;padding:10px;overflow:auto;">
									<!-- タスクの数だけ回す -->
									@for(task <- taskList){
										@if(task.finish_flag == 1){
											<!-- 未進行のタスクのみ表示 -->
											<div class="box__list-task" id = "task-list" data-toggle="modal" data-target="#myModal">
												<div class="box shadow-sm-original card border-light mb-2 inside-project">
													<div class="task-header">@task.name</div>
													<input type="hidden" name="task-id" value="@task.id"/>
													<div class="task-period">@task.start_date - @task.closing_date</div>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</td>
					</tr>
				</table>
		    </div>
		</div>
    </div>
</div><!-- container-fluid -->

	<!-- タスクフィールド押下時 表示モーダル -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg" role="document">
	       <div class="modal-content">
	    
				<!-- header部 -->
				<div class="modal-header">
					<table style="width: 100%;">
						<tbody>
							<tr>
								<td>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close" id="modal-close">
										<span class="closs-mark" aria-hidden="true">×</span>
									</button>
									<div class="taskdetail__header-status" id="task-list-info">#9 @Messages.get("task.progress.meter.yet")
									</div>
									<h4 class="modal-title" id="myModalLabel" style="display: -webkit-inline-box;">
										<span id="modal-title-text"></span>
									</h4>
								</td>
							</tr>
							<tr>
								<td>
									<div>
										<span id="modal-body-text"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- body部 -->
				<div class="modal-body">
					<ul class="list-group">
						<li class="list-group-item">
							<div class="start-date-class">
								<i class="far fa-calendar"></i>
								<span class="modal-span-class" id="start-date" >
				                	<span class="start-date-text">開始日を追加</span>
									<input type="text" class="form-control-sm start-date-text" id="start-date" style="display:none">			
				              	</span>
			              	</div>
	              		</li>
	              		<li class="list-group-item">
							<div class="close-date-class">
								<i class="far fa-calendar"></i>			
								<span class="modal-span-class" id="close-date" >
				                		締切日を追加
				              	</span>
			              	</div>
	              		</li>
	              		<li class="list-group-item">
							<div class="responsible-class">
								<i class="far fa-user"></i>			
								<span class="modal-span-class" id="responsible-person" >
				                		担当者を追加
				              	</span>
			              	</div>
	              		</li>
	              		<li class="list-group-item">
							<div class="category-class">
								<i class="far fa-bookmark"></i>			
								<span class="modal-span-class" id="category" >
				                		カテゴリー：指定なし
				              	</span>
			              	</div>
	              		</li>              		
					</ul>
				</div>
			      
				<!-- footer部 -->
				<div class="modal-footer">
					<span class="who-make-date">
					タスク作成： 2019年5月20日 17:46 作成者： kentotaira0401
					</span>
					<button type="button" class="btn btn-secondary modal-btn" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script>
$(function(){
	
	// 「タスクの追加」ボタンクリック処理
    $('.addButton').click(function($elem){
    	
    	// 押下した要素を取得
    	var elem = $elem.target;
    	// 押下した要素の親の親要素(class="conversion")を取得
    	var conversion = $(elem).parents('div.conversion');
    	// 押下したボタンの要素を非表示
    	$(elem).toggle();
    	// テキストフィールドを表示
    	$(conversion).children().find('#exampleTextarea').toggle();
    	// 追加ボタン表示・キャンセルボタン表示
    	$(conversion).children('.task-buttons').toggle();
		// テキストエリアをクリア   	
		$(conversion).children().find('#exampleTextarea').val("");
    });
    
	// 「追加」ボタンクリック処理
    $('.output-add-button').click(function($elem){
    	
    	$('#errorCheck').remove();
    	var elem = $elem.target;
		var taskText = $(elem).parents().children().children('input.task-text');
    	
    	var taskName = $(taskText).val();
    	
    	//　新タスク名がからの時エラーメッセージ
    	if("" == taskName){
    		$(taskText).after('<div id="errorCheck">新しいタスク名を入力してください</div>');
    		return false;
    	}
    	var projectId 	= $('#project-id').val();
    	var finishFlag 	= $('#finish-flag').val();
    	
    	insertNewTask(taskName,projectId,finishFlag);
    	
    	/* ボタンを元に戻す */
    	toggleReturn($elem);
    })
    
    
    // 「キャンセル」ボタンクリック処理
    $('.cancel-button').click(function($elem){
    	$('#errorCheck').remove();
    	/* ボタンを元に戻す */
    	toggleReturn($elem);
    });
    
    
	// 「タスク」クリック処理
	$(document).on("click", ".box__list-task", function ($elem) {
    	/* タスク表示 */
    	sendToModal($elem);
    });

    // クリックしたらカレンダー表示
    $('#start-date').datepicker({
        language:'ja'
    });
    // クリックしたら非表示入れ替わり
    $('#start-date').on("click",function(){
    	$('span.start-date-text').hide();
    	$('input.start-date-text').show();
    });

	
/////// 以下自作関数  ////////////////////////////////
 
 
/* ボタンを元に戻す */
function toggleReturn($elem){
	
	// 押下した要素(キャンセルボタン)を取得
	var elem = $elem.target;
	// 押下した要素の親の親要素(class="conversion")を取得
	var conversion = $(elem).parents('div.conversion');
	// 押下したボタンの親要素を非表示
	$(elem.parentElement).toggle();
	// テキストフィールドを非表示
	$(conversion).children().find('#exampleTextarea').toggle();
	// ＋タスクの追加ボタン表示    	
	$(conversion).children().find('.addButton').toggle();
}

/* モーダルで表示するtaskのIDを受け取りそれを元に表示 */
function sendToModal($elem){
	
	var elem = $elem.target;
	/* ここで選択したタスク内容をajaxで表示する */
	var taskId = $(elem.nextElementSibling).val();
	
	  $.ajax({
	        type: 'post',
	        url: '@routes.Detail.sendParam',
	        data: {'param1':taskId},
	        cache : false,
	        timeout: 20000
	    }).done(function(data) {

          	var taskObj = $.parseJSON(data);
          
			$('#modal-title-text').text(taskObj.name);
        	$('#modal-body-text').text(taskObj.explanation);
          
	    }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
	    	ajaxFailedMessage();
	  }).always(function(XMLHttpRequest, textStatus) {

	  });
}
    
function insertNewTask(taskName,projectId,finishFlag){
	
	$.ajax({
		// 送る内容
		type: 'post',
		url: '@routes.Detail.insertNewTask',
		data: {'taskName':taskName, 'projectId':projectId, 'finishFlag':finishFlag},
		cache: false,
		timeout: 20000
	}).done(function(data) {

      	var taskObj = $.parseJSON(data);
      	var taskId = taskObj.id;　//最新のタスクのidを取って来る
      	var newTaskElem = '<div class="box__list-task" id="task-list" data-toggle="modal" data-target="#myModal">'
      					 	+'<div class="box shadow-sm-original card border-light mb-2 inside-project">'
      							+'<div class="task-header">'
      								+ taskObj.name 
      							+'</div>'
      							+'<input type="hidden" name="task-id" value="' + taskId + '">'
      					 		+'<div class="task-period"> - '
      					 		+'</div>'
      					 	'</div>'
      					  '</div>';
      	var tasksType = '#tasks-yet'; // 条件分岐(後で)
      	$(tasksType).prepend(newTaskElem); // id="tasks-yet"に新しいタスク要素を追加
      
    }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
    	ajaxFailedMessage();
  }).always(function(XMLHttpRequest, textStatus) {

  });
}
    
});
 
</script>
		

}
