@(projectRequest:models.request.ProjectRequest, taskList:List[models.entity.Task])
@import play.i18n._

@main("detail-page") {
@* <meta charset="utf-8"> FOR ECLIPSE CHARSET DETECTION *@
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("/stylesheets/css/detailProject.css")">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



<body class style>
<div class="container-fluid">
    <div class="row">
	    <div class="clearfix"></div>
	    <div class="flex-side-container">
		    <div class="sidebar" style="background-color: #656873">
		        <ul class="nav nav-sidebar">
		        	<li class="active">
		            	<a class="sidebar-tab-link" id="new-pro" href="@routes.CreateNew.createNewProject()">
		            		<span class="sidebar-tab-add-more">
		            			<i class="fas fa-plus icon-plus"></i>
		            		</span>
		            		<span class="sidebar-tab-title">@Messages.get("task.sidebar.new.project")</span>
		            	</a>
		            </li>
		            <li class="active">
		            	<a class="sidebar-tab-link" href="">
		            		<span class="sidebar-tab-image">
		            			<img src="@routes.Assets.versioned("/images/doraemon_1.jpg")" />
		            		</span>
		            		<span class="sidebar-tab-title">@projectRequest.name</span>
		            	</a>
		            </li>
		            <li><a href="">アクセス</a></li>
		            <li><a href="">皆様のご意見</a></li>
		            <li><a href="/questionnaire">アンケート</a></li>
		        </ul>
		    </div>
		  	<div class="container col-sm-10 col-sm-offset-3 col-md-11 col-md-offset-2 main">
			<!-- <h1>projectRequest.name</h1> --><!-- これはできなかった -->
				<h2>
					<img class="pro-image" src="@routes.Assets.versioned("/images/doraemon_1.jpg")" />
					<span>@projectRequest.name</span>
				</h2>
				<hr>
				<!-- <h1>@{projectRequest.getName}pj</h1> -->
				
				<table>
					<tr>
						<!-- ここから未進行ボックス作成 -->
						<td class="task-box">
							<div class="box card border-light mb-3 non-progress" style="max-width: 20rem;">
								<div class="non-progress-header">
									@Messages.get("task.progress.meter.yet")
								</div>
					
								<div class="conversion">
									<div id="new-task">
										<input type="text" class="form-control" id="exampleTextarea" placeholder="新しいタスク名" style="display: none">
									</div>
									<div class="task-buttons">
<!-- 							  			<button class="btn btn-primary" id="output-add-button" data-toggle="modal" data-target="#exampleModal" style="display:none"> -->
							  			<button class="btn btn-primary" id="output-add-button" style="display:none">
							  				@Messages.get("task.add.button")
							  			</button>
										<button class="btn btn-secondary cancel-button" id="cancel-button" style="display: none">
											@Messages.get("task.cancel.button")
										</button>
									</div>
									<div class="task-button" id ="add-task1">
										<button type="button" class="btn btn-secondary btn-lg addButton" >
											@Messages.get("task.plus.add.button") 
										</button>
									</div>
								</div>
								<div style="height:400px;padding:10px;overflow:auto;">
									<!-- タスクの数だけ回す -->
									@for(task <- taskList){
										@if(task.finish_flag == -1){
											<!-- 未進行のタスクのみ表示 -->
											<div class="box__list-task" id = "task-list" data-toggle="modal" data-target="#myModal">
												<div class="box shadow-sm-original card border-light mb-2 inside-project">
													<div class="task-header">@task.name</div>
													<input type="hidden" name="task-id" value="@task.id"/>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</td>
						
						<!-- ここから進行中タスク -->
						<td class="task-box">
							<div class="box card border-light mb-3 non-progress" style="max-width: 20rem;">
								<div class="non-progress-header" id="task-harfway-header">
									@Messages.get("task.progress.meter.harfway")
								</div>
					
								<div class="conversion">
									<div id="new-task">
										<input type="text" class="form-control" id="exampleTextarea" placeholder="新しいタスク名" style="display: none">
									</div>
									<div class="task-buttons">
							  			<button class="btn btn-primary" id="output-add-button" data-toggle="modal" data-target="#exampleModal" style="display:none">
							  				@Messages.get("task.add.button")
							  			</button>
										<button class="btn btn-secondary cancel-button" id="cancel-button" style="display: none">
											@Messages.get("task.cancel.button")
										</button>
									</div>
									<div class="task-button" id ="add-task1">
										<button type="button" class="btn btn-secondary btn-lg addButton" >
											@Messages.get("task.plus.add.button") 
										</button>
									</div>
								</div>
								<div style="height:400px;padding:10px;overflow:auto;">
									<!-- タスクの数だけ回す -->
									@for(task <- taskList){
										@if(task.finish_flag == 0){
											<!-- 未進行のタスクのみ表示 -->
											<div class="box__list-task" id = "task-list" data-toggle="modal" data-target="#myModal">
												<div class="box shadow-sm-original card border-light mb-2 inside-project">
													<div class="task-header">@task.name</div>
													<input type="hidden" name="task-id" value="@task.id"/>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</td>
							
						<!-- ここから終了タスク -->
						<td class="task-box">
							<div class="box card border-light mb-3 non-progress" style="max-width: 20rem;">
								<div class="non-progress-header" id="task-finished-header">
									@Messages.get("task.progress.meter.finished")
								</div>
					
								<div class="conversion">
									<div id="new-task">
										<input type="text" class="form-control" id="exampleTextarea" placeholder="新しいタスク名" style="display: none">
									</div>
									<div class="task-buttons">
							  			<button class="btn btn-primary" id="output-add-button" data-toggle="modal" data-target="#exampleModal" style="display:none">
							  				@Messages.get("task.add.button")
							  			</button>
										<button class="btn btn-secondary cancel-button" id="cancel-button" style="display: none">
											@Messages.get("task.cancel.button")
										</button>
									</div>
									<div class="task-button" id ="add-task1">
										<button type="button" class="btn btn-secondary btn-lg addButton" >
											@Messages.get("task.plus.add.button") 
										</button>
									</div>
								</div>
								<div style="height:400px;padding:10px;overflow:auto;">
									<!-- タスクの数だけ回す -->
									@for(task <- taskList){
										@if(task.finish_flag == 1){
											<!-- 未進行のタスクのみ表示 -->
											<div class="box__list-task" id = "task-list" data-toggle="modal" data-target="#myModal">
												<div class="box shadow-sm-original card border-light mb-2 inside-project">
													<div class="task-header">@task.name</div>
													<input type="hidden" name="task-id" value="@task.id"/>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</td>
					</tr>
				</table>
		    </div>
		</div>
    </div>
</div><!-- container-fluid -->

									
	<!-- 追加ボタン押下時Modal --><!-- いらない？？笑 -->
<!-- 	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
<!-- 	  <div class="modal-dialog" role="document"> -->
<!-- 	    <div class="modal-content"> -->
<!-- 	      <div class="modal-header"> -->
<!-- 	        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
<!-- 	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
<!-- 	          <span aria-hidden="true">&times;</span> -->
<!-- 	        </button> -->
<!-- 	      </div> -->
<!-- 	      <div class="modal-body"> -->
<!-- 	        ... -->
<!-- 	      </div> -->
<!-- 	      <div class="modal-footer"> -->
<!-- 	        <button type="button" class="btn btn-primary">Save changes</button> -->
<!-- 	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
<!-- 	      </div> -->
<!-- 	    </div> -->
<!-- 	  </div> -->
<!-- 	</div> -->

	<!-- タスクフィールド押下時 表示モーダル -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">
	        	
	        	<span id="modal-title-text"></span>
	        </h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        	<span id="modal-body-text"></span>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary modal-btn" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>

<script>
$(function(){
	
    $('.addButton').click(function($elem){
    	
    	// 押下した要素を取得
    	var elem = $elem.target;
    	// 押下した要素の親の親要素(class="conversion")を取得
    	var conversion = $(elem).parents('div.conversion');
    	// 押下したボタンの要素を非表示
    	$(elem).toggle();
    	// テキストフィールドを表示
    	$(conversion).children().find('#exampleTextarea').toggle();
    	// 追加ボタン表示
    	$(conversion).children().find('#output-add-button').toggle();
		// キャンセルボタン表示    	
    	$(conversion).children().find('#cancel-button').toggle();

    });
    
    $('.cancel-button').click(function($elem){
    	
    	// 押下した要素(キャンセルボタン)を取得
    	var elem = $elem.target;
    	// 押下した要素の親の親要素(class="conversion")を取得
    	var conversion = $(elem).parents('div.conversion');
    	// 押下したボタン(キャンセルボタン)を非表示
    	$(elem).toggle();
    	// 追加ボタン非表示
    	$(conversion).children().find('#output-add-button').toggle();
    	// テキストフィールドを非表示
    	$(conversion).children().find('#exampleTextarea').toggle();
		// ＋タスクの追加ボタン表示    	
    	$(conversion).children().find('.addButton').toggle();
    	

    });
    
    $('.box__list-task').click(function($elem){
    	
    	var elem = $elem.target;
    	console.log(elem.nextElementSibling);
    	/* ここで選択したタスク内容をajaxで表示する */
    	var taskId = $(elem.nextElementSibling).val();
    	console.log(taskId);
    	
/*     	$('#modal-body-text').text(taskId);
    	$('#modal-title-text').text(projectId); */
    	  $.ajax({
    	        type: 'post',
    	        url: '@routes.Detail.sendParam',
    	        data: {'param1':taskId},
    	        cache : false,
    	        timeout: 20000
    	    }).done(function(data) {

                var taskObj = $.parseJSON(data);
                
            	$('#modal-title-text').text(taskObj.name);
                $('#modal-body-text').text(taskObj.explanation);
                
    	    }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
    	    	ajaxFailedMessage();
    	  }).always(function(XMLHttpRequest, textStatus) {

    	  });
    	
    });
    
});
 
</script>

<!-- $($($elem.target).parents('div')[1]).find('#new-task').children().toggle();
 -->
		

}
